# react class file
snippet reactcc
	var React = require('react');

	module.exports = React.createClass({
		displayName: '${1:default_name}',
		${2:}
		render() {

			return (<div>

			</div>);
		}
	});


	
